html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Times New Roman, serif;
}

.header {
    width: 100%;
    min-height: 11%;
    height: auto;
    background-color: red;
    color: black;
    text-align: center;
    float: left;
}

.left, .right {
    width: 50%;
    height: 78.5%;
    background-color: black;
    color: white;
    text-align: center;
    float: left;
}

.reg {
    height: 10%;
    width: 20%;
    font-weight: bold;
    text-align: center;
    float: left;
}

.regX {
    height: 10%;
    width: 80%;
    float: left;
}

.action {
    height: auto;
    width: 33%;
    background-color: black;
    color: white;
    border-style: solid;
    border-width: 1px; 
    float: left;
}

.action:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border-color: black;
}

.footer {
    min-height: 10%;
    height: auto;
    width: 100%;
    background-color: red;
    color: black;
    text-align: center;
    float: left;
}
